

.legend1{
  position:absolute;
  z-index:10000;
  right:25px;
  bottom:25px;
}

.legend2{
  position:absolute;
  z-index:10000;
  right:25px;
  bottom:25px;
}

.legend3{
  position:absolute;
  z-index:10000;
  right:25px;
  bottom:25px;
}


.fam{
  z-index:100000;
}

#returnDoor{
  position: absolute;
  bottom:10px;
  left:10px;
  z-index: 10;
  cursor:pointer;
}
#returnDoor .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 105%;
  opacity: 0;
  transition: opacity 0.3s;
}

#returnDoor .tooltiptext::after {
  content: "";
  position: absolute;
  top: 600%;
  left: 50%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#returnDoor:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#returnDoor2{
  position: absolute;
  bottom:10px;
  left:10px;
  z-index: 10;
  cursor:pointer;
}
#returnDoor2 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 105%;
  opacity: 0;
  transition: opacity 0.3s;
}

#returnDoor2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 600%;
  left: 50%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#returnDoor2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#returnDoor3{
  position: absolute;
  bottom:10px;
  left:10px;
  z-index: 10;
  cursor:pointer;
}
#returnDoor3 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 105%;
  opacity: 0;
  transition: opacity 0.3s;
}

#returnDoor3 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 600%;
  left: 50%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#returnDoor3:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#map {
  position: absolute;
  right: 0px;
  left: 0px;
  height: 100%;
  top: 0;
  z-index: -4;
}


/* #fam1a {
  position: absolute;
  bottom:0px;
  right:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam1a .popuptext1a {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 97%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam1a .popuptext1a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam1a .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.door .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 116%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.door .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.door:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* #fam1b {
  position: absolute;
  bottom:0px;
  right: 623px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam1b .popuptext1b {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 97%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam1b .popuptext1b::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam1b .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam1c {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam1c .popuptext1c {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam1c .popuptext1c::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam1c .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam1d {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam1d .popuptext1d {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam1d .popuptext1d::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam1d .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam1e {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam1e .popuptext1e {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam1e .popuptext1e::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#fam1e .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Toggle this class - hide and show the popup */


/* #fam2a {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam2a .popuptext2a {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam2a .popuptext2a::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam2a .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam2b {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam2b .popuptext2b {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam2b .popuptext2b::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam2b .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam2c {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam2c .popuptext2c {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam2c .popuptext2c::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam2c .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam2d {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam2d .popuptext2d {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 97%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam2d .popuptext2d::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam2d .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam3a {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam3a .popuptext3a {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam3a .popuptext3a::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam3a .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* #fam4a {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam4a .popuptext4a {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 97%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam4a .popuptext4a::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam4a .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* #fam4b {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam4b .popuptext4b {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam4b .popuptext4b::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam4b .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam4c {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam4c .popuptext4c {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 97%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam4c .popuptext4c::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam4c .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam4d {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam4d .popuptext4d {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam4d .popuptext4d::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam4d .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* #fam4e {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam4e .popuptext4e {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam4e .popuptext4e::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam4e .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* The actual popup */
#fam5a .popuptext5a {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 97%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam5a .popuptext5a::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam5a .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* #fam4b {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam5b .popuptext5b {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam5b .popuptext5b::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam5b .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam4c {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam5c .popuptext5c {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam5c .popuptext5c::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam5c .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* #fam4d {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam5d .popuptext5d {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam5d .popuptext5d::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam5d .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* The actual popup */
#fam6a .popuptext6a {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam6a .popuptext6a::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam6a .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* #fam4b {
  position: absolute;
  bottom:0px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
#fam6b .popuptext6b {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 14;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
#fam6b .popuptext6b::after {
  content: "";
  position: absolute;
  z-index: 14;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#fam6b .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


#container1 {
  position: relative;
}



.door {
  position: fixed;
  bottom:90px;
  left:84px;
  cursor: pointer;
}


.house {
  position: fixed;
  padding: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.pagination {
  position: fixed;
  padding: 2em;
  left: 50%;
  top: 94%;
  transform: translate(-50%, -50%);
}


#filter-status {
  word-wrap: break-word;
}

#container2 {
  position: relative;
}

#container3 {
  position: relative;
}

#container4 {
  position: relative;
}

#container5 {
  position: relative;
}

#container6 {
  position: relative;
}
#container7 {
  position: relative;
}

#interior1 {
  position: fixed;
  padding: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#fam1a {
  position: fixed;
  bottom:48px;
  left:34px;
  cursor: pointer;
}

#fam1b {
  position: fixed;
  bottom:35px;
  right:626px;
  cursor: pointer;
}
#fam1c {
  position: fixed;
  bottom:30px;
  right:443px;
  cursor: pointer;
  z-index: 4;
}
#fam1e {
  position: fixed;
  bottom:30px;
  right:277px;
  cursor: pointer;
  z-index:3;
}

#fam1d {
  position: fixed;
  bottom:44px;
  right:130px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  background: rgba(128, 128,128, 0.3);
  padding:12px;
  width:400px;
  height: 200px;
  top:50px;
  right:50px;
  overflow-y:scroll;
  z-index: 2;
}

.doorframe {
  position: fixed;
  padding:12px;
  width:400px;
  height: 200px;
  top:50px;
  left:50px;
  z-index: 3;
}

#door1{
  position: fixed;
  top:35px;
  left:35px;
  z-index: 6;
  cursor:pointer;
}

#door1 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 105%;
  opacity: 0;
  transition: opacity 0.3s;
}

#door1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 600%;
  left: 50%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#door1:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#door2{
  position: fixed;
  top:35px;
  left:35px;
  z-index: 6;
  cursor:pointer;
}

#door2 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 105%;
  opacity: 0;
  transition: opacity 0.3s;
}

#door2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 600%;
  left: 50%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#door2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#door3{
  position: fixed;
  top:35px;
  left:35px;
  z-index: 6;
  cursor:pointer;
}

#door3 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 105%;
  opacity: 0;
  transition: opacity 0.3s;
}

#door3 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 600%;
  left: 50%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#door3:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.sidebarmap {
  position: fixed;
  background: rgba(128, 128,128, 0.3);
  padding:12px;
  width:400px;
  height: 200px;
  top:10px;
  right:10px;
  overflow-y:scroll;
  z-index: 2;
}

.sidebar2 {
  position: fixed;
  background: rgba(128, 128,128, 0.3);
  padding:12px;
  width:400px;
  height: 200px;
  top:50px;
  right:50px;
  overflow-y:scroll;
  z-index: 2;
}

#fam2a {
  position: fixed;
  bottom:48px;
  left:411px;
  cursor: pointer;
  z-index:1;
}

#fam2b {
  position: fixed;
  bottom:35px;
  right:676px;
  cursor: pointer;
  z-index:1;
}
#fam2c {
  position: fixed;
  bottom:45px;
  right:584px;
  cursor: pointer;
  z-index: 2;
}

#fam2d {
  position: fixed;
  bottom:59px;
  right:170px;
  cursor: pointer;
}

#fam3a {
  position: fixed;
  bottom:57px;
  left:411px;
  cursor: pointer;
}

.sidebar3 {
  position: fixed;
  background: rgba(128, 128,128, 0.3);
  padding:12px;
  width:400px;
  height: 200px;
  top:50px;
  right:50px;
  overflow-y:scroll;
  z-index: 2;
}

#fam4a {
  position: fixed;
  bottom:40px;
  left:71px;
  cursor: pointer;
  z-index: 1;
}

#fam4b {
  position: fixed;
  bottom:52px;
  right:626px;
  cursor: pointer;
  z-index: 2;

}
#fam4c {
  position: fixed;
  bottom:52px;
  right:520px;
  cursor: pointer;
  z-index: 3;
}
#fam4e {
  position: fixed;
  bottom:46px;
  right:310px;
  cursor: pointer;
}

#fam4d {
  position: fixed;
  bottom:40px;
  right:139px;
  cursor: pointer;
}

.sidebar4 {
  position: fixed;
  background: rgba(128, 128,128, 0.3);
  padding:12px;
  width:400px;
  height: 200px;
  top:50px;
  right:50px;
  overflow-y:scroll;
  z-index: 2;
}

#fam5a {
  position: fixed;
  bottom:42px;
  left:99px;
  cursor: pointer;
}

#fam5b {
  position: fixed;
  bottom:35px;
  right:216px;
  cursor: pointer;
}
#fam5c {
  position: fixed;
  bottom:30px;
  right:550px;
  cursor: pointer;
  z-index: 1;
}

#fam5d {
  position: fixed;
  bottom:36px;
  right:387px;
  cursor: pointer;
}

.sidebar5 {
  position: fixed;
  background: rgba(128, 128,128, 0.3);
  padding:12px;
  width:400px;
  height: 200px;
  top:50px;
  right:50px;
  overflow-y:scroll;
  z-index: 2;
}

#fam6a {
  position: fixed;
  bottom:40px;
  right:523px;
  cursor: pointer;
  z-index: 1;
}

#fam6b {
  position: fixed;
  bottom:40px;
  right:352px;
  cursor: pointer;
}

.sidebar6 {
  position: fixed;
  background: rgba(128, 128,128, 0.3);
  padding:12px;
  width:400px;
  height: 200px;
  top:50px;
  right:50px;
  overflow-y:scroll;
  z-index: 2;
}